/* - Dark cyan: hsl(158, 36%, 37%)
- Cream: hsl(30, 38%, 92%)
- Very dark blue: hsl(212, 21%, 14%)
- Dark grayish blue: hsl(228, 12%, 48%)
- White: hsl(0, 0%, 100%)
*/
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 1.5rem;
    height: 100vh;
}

#container {
    max-width: 600px;
}

#container article:first-child img {
    border-radius: 1rem 1rem 0 0;
}

#container article:last-child {
    background-color: white;
    padding: 1.5rem;
    border-radius: 0 0 1rem 1rem;
    margin-top: -1rem;
}

p.perfume, h1, li, button {
    margin: 0.5rem 0;
}

h1, li:first-child {
    font-family: "Fraunces";
}

p.perfume {
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    color: hsl(228, 12%, 48%);
}

h1 {
    color: hsl(212, 21%, 14%);
    font-size: 2rem;
}

article p {
    color: hsl(228, 12%, 48%);
    font-size: 15px;
    line-height: 1.5rem;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

li:first-child {
    color: hsl(158, 36%, 37%);
    font-size: 2rem;
    margin-right: 1.5rem;
}

li:last-child {
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    
}

button {
    background-color: hsl(158, 36%, 37%);
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    transition: 0.2s;
    padding: 1rem;   
    display: flex;
    justify-content: center;
}

button:hover {
    background-color: hsl(158, 36%, 18%);
    cursor: pointer;
}

button img {
    margin-right: 0.5rem;
}

button a {
    text-decoration: none;
    color: white;
    font-family: "Montserrat"; 
    font-weight: 700;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
        
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (min-width: 640px) {
    #container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    #container article:first-child img {
        border-radius: 1rem 0 0 1rem;
        width: 100%;
    }
    
    #container article:last-child {
        border-radius: 0 1rem 1rem 0;
        margin-top: 0;
        padding: 1.5rem 1.5rem 0;
    }
    
    picture img {
        height: 100%;
    }
    
    #container p {
        margin-bottom: 1rem;
    }
    
}